# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#Folders
./build
./vscode
.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.vscode/settings.json
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/Makefile
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-511fd8517b342610b312.json
build/.cmake/api/v1/reply/codemodel-v2-a640931f1de3bcf4d93b.json
build/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
build/.cmake/api/v1/reply/directory-testes-Debug-005c6fa935402302a555.json
build/.cmake/api/v1/reply/directory-testes.hash-Debug-3948ee10f38175327233.json
build/.cmake/api/v1/reply/directory-testes.list-Debug-a11b01d86d0b4678c338.json
build/.cmake/api/v1/reply/directory-testes.livro-Debug-9ba7d17f7b1c018085d7.json
build/.cmake/api/v1/reply/index-2022-06-22T04-11-46-0139.json
build/.cmake/api/v1/reply/target-hashTest1-Debug-d73a51c82e98c770bf5e.json
build/.cmake/api/v1/reply/target-hashTest2-Debug-95f97da9d4d3f3480886.json
build/.cmake/api/v1/reply/target-hashTest3-Debug-dbfaf0c25d0150ac1fcc.json
build/.cmake/api/v1/reply/target-hashTest4-Debug-4629fa3ef49e30038b0e.json
build/.cmake/api/v1/reply/target-libProcessaArquivos-Debug-22a2b78e7bfde841df23.json
build/.cmake/api/v1/reply/target-listTest1-Debug-7e8fd285437a17eda1c6.json
build/.cmake/api/v1/reply/target-listTest4-Debug-b9299503e3a3067c947d.json
build/.cmake/api/v1/reply/target-listTest5-Debug-03c382e8e050da217a3c.json
build/.cmake/api/v1/reply/target-listTest7-Debug-390530ebbc033fcb71ab.json
build/.cmake/api/v1/reply/target-listTest8-Debug-d57803de461d85333148.json
build/.cmake/api/v1/reply/target-listTest9-Debug-22e4911b38b0cdf2becf.json
build/.cmake/api/v1/reply/target-listTest10-Debug-2c232c3123285d2e7064.json
build/.cmake/api/v1/reply/target-listTest11-Debug-392309c25acfa9a06b2a.json
build/.cmake/api/v1/reply/target-livroTest1-Debug-f97cbaacca5b5e2e11f6.json
build/.cmake/api/v1/reply/target-livroTest2-Debug-678bb3675bfc16a55e88.json
build/.cmake/api/v1/reply/target-livroTest3-Debug-a9f2ceef6c9eb13d309d.json
build/.cmake/api/v1/reply/target-livroTest4-Debug-228435c37cf94910f5ab.json
build/.cmake/api/v1/reply/target-livroTest5-Debug-e9ae1d17e37d183a9f60.json
build/.cmake/api/v1/reply/toolchains-v1-f8eaf7f9e5670d5d73ca.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeOutput.log
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.22.1/CMakeCCompiler.cmake
build/CMakeFiles/3.22.1/CMakeCXXCompiler.cmake
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.22.1/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.22.1/CMakeSystem.cmake
build/CMakeFiles/3.22.1/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.22.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/Progress/2
build/CMakeFiles/Progress/9
build/CMakeFiles/Progress/10
build/CMakeFiles/Progress/11
build/CMakeFiles/Progress/12
build/CMakeFiles/Progress/13
build/CMakeFiles/Progress/14
build/CMakeFiles/Progress/count.txt
build/CMakeFiles/libProcessaArquivos.dir/build.make
build/CMakeFiles/libProcessaArquivos.dir/cmake_clean_target.cmake
build/CMakeFiles/libProcessaArquivos.dir/cmake_clean.cmake
build/CMakeFiles/libProcessaArquivos.dir/compiler_depend.internal
build/CMakeFiles/libProcessaArquivos.dir/compiler_depend.make
build/CMakeFiles/libProcessaArquivos.dir/compiler_depend.ts
build/CMakeFiles/libProcessaArquivos.dir/depend.make
build/CMakeFiles/libProcessaArquivos.dir/DependInfo.cmake
build/CMakeFiles/libProcessaArquivos.dir/flags.make
build/CMakeFiles/libProcessaArquivos.dir/link.txt
build/CMakeFiles/libProcessaArquivos.dir/progress.make
build/Testing/Temporary/LastTest.log
build/testes/cmake_install.cmake
build/testes/Makefile
build/testes/CMakeFiles/CMakeDirectoryInformation.cmake
build/testes/CMakeFiles/progress.marks
build/testes/hash/cmake_install.cmake
build/testes/hash/Makefile
build/testes/hash/CMakeFiles/CMakeDirectoryInformation.cmake
build/testes/hash/CMakeFiles/progress.marks
build/testes/hash/CMakeFiles/hashTest1.dir/build.make
build/testes/hash/CMakeFiles/hashTest1.dir/cmake_clean.cmake
build/testes/hash/CMakeFiles/hashTest1.dir/compiler_depend.internal
build/testes/hash/CMakeFiles/hashTest1.dir/compiler_depend.make
build/testes/hash/CMakeFiles/hashTest1.dir/compiler_depend.ts
build/testes/hash/CMakeFiles/hashTest1.dir/depend.make
build/testes/hash/CMakeFiles/hashTest1.dir/DependInfo.cmake
build/testes/hash/CMakeFiles/hashTest1.dir/flags.make
build/testes/hash/CMakeFiles/hashTest1.dir/link.txt
build/testes/hash/CMakeFiles/hashTest1.dir/progress.make
build/testes/hash/CMakeFiles/hashTest2.dir/build.make
build/testes/hash/CMakeFiles/hashTest2.dir/cmake_clean.cmake
build/testes/hash/CMakeFiles/hashTest2.dir/compiler_depend.make
build/testes/hash/CMakeFiles/hashTest2.dir/compiler_depend.ts
build/testes/hash/CMakeFiles/hashTest2.dir/depend.make
build/testes/hash/CMakeFiles/hashTest2.dir/DependInfo.cmake
build/testes/hash/CMakeFiles/hashTest2.dir/flags.make
build/testes/hash/CMakeFiles/hashTest2.dir/link.txt
build/testes/hash/CMakeFiles/hashTest2.dir/progress.make
build/testes/hash/CMakeFiles/hashTest3.dir/build.make
build/testes/hash/CMakeFiles/hashTest3.dir/cmake_clean.cmake
build/testes/hash/CMakeFiles/hashTest3.dir/compiler_depend.make
build/testes/hash/CMakeFiles/hashTest3.dir/compiler_depend.ts
build/testes/hash/CMakeFiles/hashTest3.dir/depend.make
build/testes/hash/CMakeFiles/hashTest3.dir/DependInfo.cmake
build/testes/hash/CMakeFiles/hashTest3.dir/flags.make
build/testes/hash/CMakeFiles/hashTest3.dir/link.txt
build/testes/hash/CMakeFiles/hashTest3.dir/progress.make
build/testes/hash/CMakeFiles/hashTest4.dir/build.make
build/testes/hash/CMakeFiles/hashTest4.dir/cmake_clean.cmake
build/testes/hash/CMakeFiles/hashTest4.dir/compiler_depend.make
build/testes/hash/CMakeFiles/hashTest4.dir/compiler_depend.ts
build/testes/hash/CMakeFiles/hashTest4.dir/depend.make
build/testes/hash/CMakeFiles/hashTest4.dir/DependInfo.cmake
build/testes/hash/CMakeFiles/hashTest4.dir/flags.make
build/testes/hash/CMakeFiles/hashTest4.dir/link.txt
build/testes/hash/CMakeFiles/hashTest4.dir/progress.make
build/testes/list/cmake_install.cmake
build/testes/list/Makefile
build/testes/list/CMakeFiles/CMakeDirectoryInformation.cmake
build/testes/list/CMakeFiles/progress.marks
build/testes/list/CMakeFiles/listTest1.dir/build.make
build/testes/list/CMakeFiles/listTest1.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest1.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest1.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest1.dir/depend.make
build/testes/list/CMakeFiles/listTest1.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest1.dir/flags.make
build/testes/list/CMakeFiles/listTest1.dir/link.txt
build/testes/list/CMakeFiles/listTest1.dir/progress.make
build/testes/list/CMakeFiles/listTest10.dir/build.make
build/testes/list/CMakeFiles/listTest10.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest10.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest10.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest10.dir/depend.make
build/testes/list/CMakeFiles/listTest10.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest10.dir/flags.make
build/testes/list/CMakeFiles/listTest10.dir/link.txt
build/testes/list/CMakeFiles/listTest10.dir/progress.make
build/testes/list/CMakeFiles/listTest11.dir/build.make
build/testes/list/CMakeFiles/listTest11.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest11.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest11.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest11.dir/depend.make
build/testes/list/CMakeFiles/listTest11.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest11.dir/flags.make
build/testes/list/CMakeFiles/listTest11.dir/link.txt
build/testes/list/CMakeFiles/listTest11.dir/progress.make
build/testes/list/CMakeFiles/listTest2.dir/build.make
build/testes/list/CMakeFiles/listTest2.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest2.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest2.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest2.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest2.dir/depend.make
build/testes/list/CMakeFiles/listTest2.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest2.dir/flags.make
build/testes/list/CMakeFiles/listTest2.dir/link.txt
build/testes/list/CMakeFiles/listTest2.dir/progress.make
build/testes/list/CMakeFiles/listTest3.dir/build.make
build/testes/list/CMakeFiles/listTest3.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest3.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest3.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest3.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest3.dir/depend.make
build/testes/list/CMakeFiles/listTest3.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest3.dir/flags.make
build/testes/list/CMakeFiles/listTest3.dir/link.txt
build/testes/list/CMakeFiles/listTest3.dir/progress.make
build/testes/list/CMakeFiles/listTest4.dir/build.make
build/testes/list/CMakeFiles/listTest4.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest4.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest4.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest4.dir/depend.make
build/testes/list/CMakeFiles/listTest4.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest4.dir/flags.make
build/testes/list/CMakeFiles/listTest4.dir/link.txt
build/testes/list/CMakeFiles/listTest4.dir/progress.make
build/testes/list/CMakeFiles/listTest5.dir/build.make
build/testes/list/CMakeFiles/listTest5.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest5.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest5.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest5.dir/depend.make
build/testes/list/CMakeFiles/listTest5.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest5.dir/flags.make
build/testes/list/CMakeFiles/listTest5.dir/link.txt
build/testes/list/CMakeFiles/listTest5.dir/progress.make
build/testes/list/CMakeFiles/listTest6.dir/build.make
build/testes/list/CMakeFiles/listTest6.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest6.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest6.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest6.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest6.dir/depend.make
build/testes/list/CMakeFiles/listTest6.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest6.dir/flags.make
build/testes/list/CMakeFiles/listTest6.dir/link.txt
build/testes/list/CMakeFiles/listTest6.dir/progress.make
build/testes/list/CMakeFiles/listTest7.dir/build.make
build/testes/list/CMakeFiles/listTest7.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest7.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest7.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest7.dir/depend.make
build/testes/list/CMakeFiles/listTest7.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest7.dir/flags.make
build/testes/list/CMakeFiles/listTest7.dir/link.txt
build/testes/list/CMakeFiles/listTest7.dir/progress.make
build/testes/list/CMakeFiles/listTest8.dir/build.make
build/testes/list/CMakeFiles/listTest8.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest8.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest8.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest8.dir/depend.make
build/testes/list/CMakeFiles/listTest8.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest8.dir/flags.make
build/testes/list/CMakeFiles/listTest8.dir/link.txt
build/testes/list/CMakeFiles/listTest8.dir/progress.make
build/testes/list/CMakeFiles/listTest9.dir/build.make
build/testes/list/CMakeFiles/listTest9.dir/cmake_clean.cmake
build/testes/list/CMakeFiles/listTest9.dir/compiler_depend.make
build/testes/list/CMakeFiles/listTest9.dir/compiler_depend.ts
build/testes/list/CMakeFiles/listTest9.dir/depend.make
build/testes/list/CMakeFiles/listTest9.dir/DependInfo.cmake
build/testes/list/CMakeFiles/listTest9.dir/flags.make
build/testes/list/CMakeFiles/listTest9.dir/link.txt
build/testes/list/CMakeFiles/listTest9.dir/progress.make
build/testes/livro/cmake_install.cmake
build/testes/livro/Makefile
build/testes/livro/CMakeFiles/CMakeDirectoryInformation.cmake
build/testes/livro/CMakeFiles/progress.marks
build/testes/livro/CMakeFiles/livroTest1.dir/build.make
build/testes/livro/CMakeFiles/livroTest1.dir/cmake_clean.cmake
build/testes/livro/CMakeFiles/livroTest1.dir/compiler_depend.make
build/testes/livro/CMakeFiles/livroTest1.dir/compiler_depend.ts
build/testes/livro/CMakeFiles/livroTest1.dir/depend.make
build/testes/livro/CMakeFiles/livroTest1.dir/DependInfo.cmake
build/testes/livro/CMakeFiles/livroTest1.dir/flags.make
build/testes/livro/CMakeFiles/livroTest1.dir/link.txt
build/testes/livro/CMakeFiles/livroTest1.dir/progress.make
build/testes/livro/CMakeFiles/livroTest2.dir/build.make
build/testes/livro/CMakeFiles/livroTest2.dir/cmake_clean.cmake
build/testes/livro/CMakeFiles/livroTest2.dir/compiler_depend.make
build/testes/livro/CMakeFiles/livroTest2.dir/compiler_depend.ts
build/testes/livro/CMakeFiles/livroTest2.dir/depend.make
build/testes/livro/CMakeFiles/livroTest2.dir/DependInfo.cmake
build/testes/livro/CMakeFiles/livroTest2.dir/flags.make
build/testes/livro/CMakeFiles/livroTest2.dir/link.txt
build/testes/livro/CMakeFiles/livroTest2.dir/progress.make
build/testes/livro/CMakeFiles/livroTest3.dir/build.make
build/testes/livro/CMakeFiles/livroTest3.dir/cmake_clean.cmake
build/testes/livro/CMakeFiles/livroTest3.dir/compiler_depend.make
build/testes/livro/CMakeFiles/livroTest3.dir/compiler_depend.ts
build/testes/livro/CMakeFiles/livroTest3.dir/depend.make
build/testes/livro/CMakeFiles/livroTest3.dir/DependInfo.cmake
build/testes/livro/CMakeFiles/livroTest3.dir/flags.make
build/testes/livro/CMakeFiles/livroTest3.dir/link.txt
build/testes/livro/CMakeFiles/livroTest3.dir/progress.make
build/testes/livro/CMakeFiles/livroTest4.dir/build.make
build/testes/livro/CMakeFiles/livroTest4.dir/cmake_clean.cmake
build/testes/livro/CMakeFiles/livroTest4.dir/compiler_depend.make
build/testes/livro/CMakeFiles/livroTest4.dir/compiler_depend.ts
build/testes/livro/CMakeFiles/livroTest4.dir/depend.make
build/testes/livro/CMakeFiles/livroTest4.dir/DependInfo.cmake
build/testes/livro/CMakeFiles/livroTest4.dir/flags.make
build/testes/livro/CMakeFiles/livroTest4.dir/link.txt
build/testes/livro/CMakeFiles/livroTest4.dir/progress.make
build/testes/livro/CMakeFiles/livroTest5.dir/build.make
build/testes/livro/CMakeFiles/livroTest5.dir/cmake_clean.cmake
build/testes/livro/CMakeFiles/livroTest5.dir/compiler_depend.make
build/testes/livro/CMakeFiles/livroTest5.dir/compiler_depend.ts
build/testes/livro/CMakeFiles/livroTest5.dir/depend.make
build/testes/livro/CMakeFiles/livroTest5.dir/DependInfo.cmake
build/testes/livro/CMakeFiles/livroTest5.dir/flags.make
build/testes/livro/CMakeFiles/livroTest5.dir/link.txt
build/testes/livro/CMakeFiles/livroTest5.dir/progress.make
.vs/slnx.sqlite
build/.cmake/api/v1/reply/codemodel-v2-bd3f2ff3b1f704730cea.json
build/.cmake/api/v1/reply/index-2022-06-22T16-15-17-0132.json
build/.cmake/api/v1/reply/target-hashTest1-Debug-30bf866b12e91f60d3ef.json
build/.cmake/api/v1/reply/target-hashTest2-Debug-ff8afbc6cfb2627a19a8.json
build/.cmake/api/v1/reply/target-hashTest3-Debug-308caebf1235d6eea9c8.json
build/.cmake/api/v1/reply/target-hashTest4-Debug-a5e4c2d3fc1f287a3e31.json
build/.cmake/api/v1/reply/target-libProcessaArquivos-Debug-ed7fb0e5c158b15fb14d.json
build/.cmake/api/v1/reply/target-listTest1-Debug-0292d6bd400cc44f80ff.json
build/.cmake/api/v1/reply/target-listTest4-Debug-32eac53cccf41fab59ff.json
build/.cmake/api/v1/reply/target-listTest5-Debug-26f0ee74cae2344e3350.json
build/.cmake/api/v1/reply/target-listTest7-Debug-b9376c626a64b9eeca97.json
build/.cmake/api/v1/reply/target-listTest8-Debug-0a400b3be357d50be7da.json
build/.cmake/api/v1/reply/target-listTest9-Debug-89996418fb21ec738a9f.json
build/.cmake/api/v1/reply/target-listTest10-Debug-764c99df8d9ff45a48c8.json
build/.cmake/api/v1/reply/target-listTest11-Debug-d44fb16d5115e2c3553a.json
build/.cmake/api/v1/reply/target-livroTest1-Debug-40206d79eea85cb41592.json
build/.cmake/api/v1/reply/target-livroTest2-Debug-7cf8e2485ed09bc308c4.json
build/.cmake/api/v1/reply/target-livroTest3-Debug-02e116a4d2344ea86aa4.json
build/.cmake/api/v1/reply/target-livroTest4-Debug-cc418906db571a0cee3a.json
build/.cmake/api/v1/reply/target-livroTest5-Debug-7aeee6023c5aa75145a5.json
build/.cmake/api/v1/reply/cache-v2-6b8b73ac0354a8ec217b.json
build/.cmake/api/v1/reply/index-2022-06-22T21-07-39-0043.json
build/testes/hash/hashTest1
build/testes/hash/hashTest2
build/testes/hash/CMakeFiles/hashTest2.dir/compiler_depend.internal
build/testes/hash/CMakeFiles/hashTest3.dir/compiler_depend.internal
build/testes/hash/CMakeFiles/hashTest4.dir/compiler_depend.internal
build/testes/list/listTest1
build/testes/list/listTest4
build/testes/list/listTest5
build/testes/list/listTest7
build/testes/list/listTest9
build/testes/list/listTest10
build/testes/list/listTest11
build/testes/list/CMakeFiles/listTest1.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest10.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest11.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest4.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest5.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest7.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest8.dir/compiler_depend.internal
build/testes/list/CMakeFiles/listTest9.dir/compiler_depend.internal
build/testes/livro/livroTest1
build/testes/livro/livroTest2
build/testes/livro/livroTest4
build/testes/livro/livroTest5
build/testes/livro/CMakeFiles/livroTest1.dir/compiler_depend.internal
build/testes/livro/CMakeFiles/livroTest2.dir/compiler_depend.internal
build/testes/livro/CMakeFiles/livroTest3.dir/compiler_depend.internal
build/testes/livro/CMakeFiles/livroTest4.dir/compiler_depend.internal
build/testes/livro/CMakeFiles/livroTest5.dir/compiler_depend.internal
.vscode/c_cpp_properties.json
